.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-danger {
  color: #ef3f49;
}

p {
  margin: 0;
  padding: 0;
}

label {
  display: block;
}

.mt-2 {
  margin-top: 0.5rem;
}
.pb-2 {
  margin-bottom: 0.5rem;
}

.form-control {
  display: block;
}
